[data-tabs] {
	background: #000;
	border: 2px solid #000;
	border-bottom: none;
	overflow-x: auto;

	> * {
		padding: .75rem 1.5rem;
		user-select: none;
		font-weight: 600;
		color: #fff;

		&:hover {
			background: #333;
		}

		&:active {
			background: #555;
		}
	}

	> *:not(:last-child) {
		border-right: 1px solid #333;
	}

	.active {
		background: #fff;
		color: #000;
	}
}

[data-panes] {
	> * {
		background: #fff;
		border: 2px solid #000;
		border-top: none;
		padding: 2rem;
		font-weight: 600;

		@media screen and (max-width: 460px) {
			padding: 1rem;
		}
	}
}
